#region-QuienesSomos.container
  .region
    .linea
    .region-general
      %h2.titulo-general
        Quienes somos
      %p.texto-general 
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
    .clear
    .image-quienes
      = image_tag(image_path('img-inicio.png'), class: 'img-responsive')

    .info-quienes
      .region-informacion
        %h2.sub-titulo
          EXPERIENCIA
        %p.info
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      .region-img
        = image_tag image_path('img-experiencia.jpg'), class: 'img-responsive'

