.container
  
  .region-footer
    %ul
      %li
        = image_tag image_path('footer-cel.png')
        %span
          986134697
      %li
        = link_to image_tag image_path('footer-fb.png')
        %span
          fb.com
      %li
        = image_tag image_path('footer-mail.png')
        = mail_to 'info@jemimagen.com'

  .region-titulo
    Jem Imagen | Todos los derechos reservados 2014

          
    
