.container
  
  .region-footer
    %table.table
      %tr
        %td.img-footer
          = image_tag image_path('footer-cel.png')
        %td.info-footer
          %span
            986134697
      %tr
        %td.img-footer
          = link_to image_tag image_path('footer-fb.png')
        %td.info-footer
          %span
            fb.com
      %tr
        %td.img-footer
          = image_tag image_path('footer-mail.png')
        %td.info-footer
          = mail_to 'info@jemimagen.com'
    .clear
    .region-titulo
      Jem Imagen | Todos los derechos reservados 2014

          
    
